/* Header bg color */
.main-header .navbar {
    background-color: #ffffff;
}

/* toggle button */
.main-header .navbar .sidebar-toggle{
    color:#3462dc;
}
.main-header .navbar .sidebar-toggle:hover{
    color:white;
    background-color: #3462dc;
}

/* Notification icons */
.main-header .navbar .nav>li>a {
    color: #000;
}

/* logo colors */
.logo-mini,.logo-lg{
    color:white;
}
p.innerCircleBlue{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #00283a;
    border: 5px Solid #fff;
    color: #fff;
    min-width: 1em;
    border-radius: 50%;
    vertical-align: middle;
    padding:5px;
     box-shadow: 0px -0px  0px 3px #00283a;
     -webkit-box-shadow: 0px -0px  0px 3px  #00283a;
   -moz-box-shadow: 0px -0px  0px 3px #00283a;
     margin:5px;
     text-align: left !important;
  }
  
  p.innerCircleBlue:before{
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
  }
   .time {
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    right: 35px;
}

/* Notification */
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    display: block;
    white-space: normal !important;
    border-bottom: 1px solid #f4f4f4;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p{
    margin: 0 !important;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4{
    margin: 0 0 3px 0 !important;
    color: #0c5488;
}