.input-group-addon{
    border: 1px  solid #d2d6de ;
    border-right: 0px !important;
    border-bottom: 1px solid #d2d6de !important;
}

#email{
    border: 1px solid #d2d6de !important;
    border-left: 0px !important;
}