table thead tr th{
    text-align: center !important;
}
.btn-circle,.btn-file {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
