<div class="row">
    <div class="col-lg-12">
        <div class="content-wrapper">
            <section class="content-header">
                <section class="content">
                    <div class="box box-primary">
                        
                        <div class="box-header with-border">
                            <div class="text-left componet-heading">Update Password</div>
                        </div>
                        <br>



                        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="custom-form">
                            <div class="box-body">
                                <div class="col-lg-12">
                                    <div class="row">

                                        <div class="form-group clearfix">
                                            <div class="col-md-2">
                                                <label class="control-label">Current Password</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control"
                                                    placeholder="Enter Current Password"
                                                    formControlName="currentPassword" />
                                            </div>
                                            <app-field-error-display [errorIcon]="false"
                                                [displayError]="isFieldValid('currentPassword')"
                                                errorMsg="Please check your current password"></app-field-error-display>
                                        </div>

                                        <div class="form-group clearfix">
                                            <div class="col-md-2">
                                                <label class="control-label">Password</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" placeholder="Enter Password"
                                                    formControlName="password" />
                                            </div>
                                            <app-field-error-display [errorIcon]="false"
                                                [displayError]="isFieldValid('password')"
                                                errorMsg="{{f.password.errors?.required?'Please enter password.' : f.password.errors?.minlength?'Password must be at least 6 characters' : ''}}">
                                            </app-field-error-display>
                                        </div>

                                        <div class="form-group clearfix">
                                            <div class="col-md-2">
                                                <label class="control-label">Confirm Password</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" id="confirmPassword"
                                                    placeholder="Retype Password" formControlName="confirmPassword">
                                            </div>
                                            <app-field-error-display [errorIcon]="false"
                                                [displayError]="isFieldValid('confirmPassword')"
                                                errorMsg="{{f.confirmPassword.errors?.required?'Please retype your password.' : f.confirmPassword.errors?.mustMatch?'Passwords must match' : ''}}">
                                            </app-field-error-display>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="text-center">
                                    <button type="submit" class="btn-lg btn-custom btn-success">Submit</button>
                                    <button type="button" (click)="onReset()"
                                        class="btn-lg  btn-custom btn-dark-red">Reset</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </section>
            </section>
        </div>
    </div>
</div>