p.innerCircleBlue{
     display: inline-flex;
     align-items: center;
     justify-content: center;
     background-color: #00283a;
     border: 5px Solid #fff;
     color: #fff;
     min-width: 1em;
     border-radius: 50%;
     vertical-align: middle;
     padding:5px;
      box-shadow: 0px -0px  0px 3px #00283a;
      -webkit-box-shadow: 0px -0px  0px 3px  #00283a;
    -moz-box-shadow: 0px -0px  0px 3px #00283a;
      margin:5px;
      text-align: left !important;
   }
   
   p.innerCircleBlue:before{
     content:'';
     float: left;
     width: auto;
     padding-bottom: 100%;
   }